@media only screen and (max-width: 768px) {
    .main_con .main_con_in {
        width: 99%;
        float: left;
        margin-top: 0;
    }
    
    .right_con{
        width: 100%;
        padding: 0 20px;
        float: none;
        clear: both;
    }
}
@media only screen and (max-width: 600px) {
    .title_bar_back {
        padding-bottom: 60px;
    }
    .right_con{
        width: 100%;
        padding: 0 20px;
        padding-top: 15px;
        float: none;
        clear: both;
    }
}